<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clipboard App</title>
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JavaScript (optional, if you need Bootstrap's JavaScript features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Clipboard App</h1>
      <!-- Update the form in index.html -->
      <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="content">Text</label>
          <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="file">Upload Image</label>
          <input type="file" class="form-control-file" id="file" name="file" />
        </div>
        <div class="form-check"> <!-- Add a checkbox to enable password protection -->
          <input class="form-check-input" type="checkbox" id="protect" name="protect">
          <label class="form-check-label" for="protect">Protect with Password</label>
        </div>
        <div id="password-field" style="display: none;"> <!-- Password field initially hidden -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Copy to Clipboard</button>
      </form>

      {% if pin %}
      <p>Your unique pin is: <strong>{{ pin }}</strong></p>
      {% endif %}
      <a href="{{ url_for('main.retrieve') }}" class="btn btn-secondary"
        >Retrieve Entry</a
      >
    </div>
    <script>
      // Show/hide password field based on checkbox selection
      document.getElementById('protect').addEventListener('change', function() {
        var passwordField = document.getElementById('password-field');
        passwordField.style.display = this.checked ? 'block' : 'none';
      });
    </script>
  </body>
</html>
